In [1]:
import pandas as pd

In [2]:
dlltitles = pd.read_csv('input/dll-works-and-authors.csv')

In [4]:
dlltitles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5279 entries, 0 to 5278
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Title                        5279 non-null   object
 1   Work Name                    5279 non-null   object
 2   Alternative Title            484 non-null    object
 3   Short Title                  4 non-null      object
 4   Author Name Latin            4753 non-null   object
 5   Author Name Native Language  2941 non-null   object
 6   Creator                      4957 non-null   object
 7   DLL Identifier (Work)        5279 non-null   object
 8   DLL Identifier (Author)      4955 non-null   object
dtypes: object(9)
memory usage: 371.3+ KB

In [5]:
dlltitles.head()

,Title,Work Name,Alternative Title,Short Title,Author Name Latin,Author Name Native Language,Creator,DLL Identifier (Work),DLL Identifier (Author)
0,De signis et symptomatibus aegritudinum,De signis et symptomatibus aegritudinum,NaN,NaN,Aegidius Corbeiensis,Gilles de Corbeil,"Gilles, de Corbeil, active 1200",W10655,A3919
1,De coniuratione Porcaria dialogus,De coniuratione Porcaria dialogus,NaN,NaN,NaN,NaN,"Godis, Petrus de",W10654,A3221
2,Alda,Alda,Aldae Comoedia,NaN,Guilelmus Blasensis,NaN,"William, of Blois",W10653,A4844
3,De Viris Illustribus,De Viris Illustribus,NaN,NaN,Gaius Suetonius Tranquillus,Gaius Suetonius Tranquillus,"Suetonius, approximately 69-approximately 122",W10652,A4799
4,De Philosophis,De Philosophis,NaN,NaN,Gaius Suetonius Tranquillus,Gaius Suetonius Tranquillus,"Suetonius, approximately 69-approximately 122",W10651,A4799

In [21]:
df = dlltitles[['Work Name', 'Alternative Title', 'DLL Identifier (Work)','Creator','DLL Identifier (Author)']]

In [22]:
df1 = df.rename(columns={"Work Name":"title","Alternative Title":"altTitle","DLL Identifier (Work)":"workID","Creator":"author","DLL Identifier (Author)":"authorID"})

In [23]:
df1.head()

,title,altTitle,workID,author,authorID
0,De signis et symptomatibus aegritudinum,NaN,W10655,"Gilles, de Corbeil, active 1200",A3919
1,De coniuratione Porcaria dialogus,NaN,W10654,"Godis, Petrus de",A3221
2,Alda,Aldae Comoedia,W10653,"William, of Blois",A4844
3,De Viris Illustribus,NaN,W10652,"Suetonius, approximately 69-approximately 122",A4799
4,De Philosophis,NaN,W10651,"Suetonius, approximately 69-approximately 122",A4799

In [29]:
# Define a function to filter the dataframe by authorID

def author_filter(df, authorID):
    filtered = df[df['authorID'] == authorID].copy()
    return filtered

# Define a function to return all of an author's workID's for "Opera Omnia"
def opera_omnia(df, authorID):
    filtered = df[df['authorID'] == authorID].copy()
    op_om = filtered['workID'].to_list()
    return op_om

In [30]:
vergil = opera_omnia(df1, "A4830")

In [31]:
vergil

['W3809', 'W3894', 'W3898']

In [20]:
dlltitles[dlltitles['DLL Identifier (Author)'] == "A4830"]

,Title,Work Name,Alternative Title,Short Title,Author Name Latin,Author Name Native Language,Creator,DLL Identifier (Work),DLL Identifier (Author)
3811,Aeneis,Aeneis,Aeneid,NaN,Publius Vergilius Maro,NaN,Virgil,W3809,A4830
3813,Eclogae,Eclogae,Bucolica,NaN,Publius Vergilius Maro,NaN,Virgil,W3894,A4830
3814,Georgica,Georgica,NaN,NaN,Publius Vergilius Maro,NaN,Virgil,W3898,A4830